DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=rmha

RABBITMQ_URL=amqp://guest:guest@localhost:5672

RABBITMQ_TOPIC_EXCHANGE=rmha.topic
RABBITMQ_DIRECT_EXCHANGE=rmha.direct

RABBITMQ_ORDERS_QUEUE=orders.queue
RABBITMQ_PAYMENTS_QUEUE=payments.queue
RABBITMQ_DELIVERIES_QUEUE=deliveries.queue

RABBITMQ_DLQ=rmha.dlq

RABBITMQ_ORDER_CREATED_KEY=order.created
RABBITMQ_PAYMENT_COMPLETED_KEY=payment.completed